<% title "Add to your existing calendar" %>

<div id="add-calendar">
  
<ul class="nav">
  <li><a href="#google_calendar">Add to Google Calendar</a></li>
  <li><a href="#microsoft_outlook">Add to Microsoft Outlook</a></li>
  <li><a href="#apple_ical">Add to Apple iCal</a></li>
</ul>


<h2 id="google_calendar">Google Calendar</h2>
  <ol>
    <li>Customize your calendar feed - any checkboxes you have selected will be reflected in your feed. For example if your calendar page has field trips turned off, then your calendar feed will also have field trips turned off.</li>
    <li>In Classroom Agenda, copy the URL in the <strong>Add to this calendar to Google Calendar, iCal or Outlook</strong> textbox.</li>
    <li>On your <a href="https://www.google.com/calendar/" target="_blank">Google Calendar</a> in the <strong>Other calendars</strong> section click Add > Add by URL.<br /><img src="/images/help/google_calendar_1.png" alt="google calendar" /></li>
    <li>In the <strong>Public Calendar Address</strong> textbox paste in the URL and press Enter. <br /><img src="/images/help/google_calendar_2.png" alt="google calendar" /></li>
    <li>Google will update the calendar automatically - if you would like to see the calendar right away, click your new Calendar and then click Refresh. <br /><img src="/images/help/google_calendar_3.png" alt="google calendar" /></li>
  </ol>

<h2 id="microsoft_outlook">Microsoft Outlook</h2>
  <ol>
    <li>Customize your calendar feed - any checkboxes you have selected will be reflected in your feed. For example if your calendar page has field trips turned off, then your calendar feed will also have field trips turned off.</li>
    <li>In Classroom Agenda, copy the URL in the <strong>Add to this calendar to Google Calendar, iCal or Outlook</strong> textbox.</li>
    <li>In Outlook click Tools > Account Settings, then click the Internet Calendars tab.</li>
    <li>Click the <strong>New...</strong> button, paste in the URL and press Enter. <br /><img src="/images/help/outlook_1.png" alt="microsoft outlook" /></li>
    <li>In the <strong>Subscription Options</strong> you can change the Folder Name if you'd like. Click OK. Click Close.</li>
    <li>Your calendar will be added in the <strong>Other Calendars</strong> section. <br /><img src="/images/help/outlook_2.png" alt="microsoft outlook" /></li>
  </ol>

<h2 id="apple_ical">Apple iCal</h2>
  <ol>
    <li>Customize your calendar feed - any checkboxes you have selected will be reflected in your feed. For example if your calendar page has field trips turned off, then your calendar feed will also have field trips turned off.</li>
    <li>In Classroom Agenda, copy the URL in the <strong>Add to this calendar to Google Calendar, iCal or Outlook</strong> textbox.</li>
    <li>In iCal click Calendar > Subscribe and paste in your URL. Press return. <br /><img src="/images/help/ical_1.png" alt="apple iCal"</li>
    <li>Enter a Name and Description if you like. You will probably want to turn on Auto-refresh as well. <strong>Every day</strong> would be a good selection. Click OK. <br /><img src="/images/help/ical_2.png" alt="apple iCal"</li>
  </ol>

</div>
