<% form_for message, :html => { :class => "ajax" } do |f| %>
  <%= f.error_messages :header_message => message.validation_header, :message => message.validation_message %>

  <p>
    <%= f.label :email, "Your email or name" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :body, "Message" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Send Message' %> or <%= link_to 'Cancel', teacher_root_path, :class => "close" %>
  </p>
<% end %>
