<p>
  <b>From:</b>
  <%=h @message.email.nil? ? "no email" : @message.email %>
</p>

<p>
  <b>Sent on:</b>
  <%=h @message.created_at %>
</p>

<p>
  <b>Message:</b>
  <p>
    <%=h @message.body %>
  </p>
</p>

<% unless @unread_message_count.nil? -%>
  <%= render :partial => 'unread_message_count' %>
<% end -%>
