<% title "Delete Message" %>

<% form_for @message, :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this message?</h2>
  <p>
    <%= submit_tag "Delete" %>
    or <%= link_to "cancel", messages_path %>
  </p>
<% end %>
