<% title "Messages" %>

<% if @messages.length > 0 -%>
<table>
  <thead>
  <tr>
    <th>From</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  </thead>

  <tbody>
<% @messages.each do |message| %>
  <tr>
    <td><%=h message.email %></td>
    <td><%=h message.body[0, 40] %><%= " ..." if message.body.length > 40 %></td>
    <td><%= link_to 'Show', message, :class => 'show' %></td>
    <td><%= link_to 'Delete', confirm_destroy_message_url(message), :class => "delete" %></td>
  </tr>
<% end %> 
  </tbody>
</table>

<% else -%>

<p>No messages</p>

<% end -%>
