<% title "Message" %>

<%= render :partial => 'show' %>

<% form_for @message, :html => { :method => :delete } do |f| %>
  <%= f.submit "Delete" %> or <%= link_to "Back to messages", messages_path %>
<% end %>
