<% form_for(announcement, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages :header_message => announcement.validation_header, :message => announcement.validation_message %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :start_date, "Start date - announcement will show up on the calendar and daily agenda starting this day" %>
    <%= render :partial => "partials/date_value", :locals => { :o => announcement, :f => f, :date => announcement.start_date, :date_field => :start_date } %>    
  </p>
  <p>
    <%= f.label :end_date, "End date - announcement will run up to and including this date" %>
    <%= render :partial => "partials/date_value", :locals => { :o => announcement, :f => f, :date => announcement.end_date, :date_field => :end_date } %>    
  </p>
  
  <h3>Attachments</h3>
  <%= render "assets/list", :assetable => announcement, :admin => true %>  
  
  <p>
    <%= f.label :data, "Attach a file or image" %>
    <%= f.file_field :data %>
  </p>
  <p>
    <%= f.submit 'Submit' %> or <%= link_to 'Cancel', announcements_path %>
  </p>
<% end %>
