<%= render 'new_link' %>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <% if logged_in_teacher %>
    <th>Start date</th><th>End date</th><th colspan="2">&nbsp;</th>
    <% else %>
    <th>&nbsp;</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
<%- @announcements.each do |announcement| -%>
  <tr class="<%= cycle('odd', 'even')%>">
    <td><%=h announcement.title %></td>    
    <% if logged_in_teacher %>
    <td><%=h announcement.start_date %></td>
    <td><%=h announcement.end_date %></td>    
    <td><%= link_to 'Edit', edit_announcement_path(announcement), :title => "Edit announcement" %></td>
    <td><%= link_to "Delete", confirm_destroy_announcement_path(announcement), :class => "delete", :title => "Delete announcement" %></td>    
    <% else %>
    <td><%= link_to 'Show', announcement, :class => 'show' %></td>
    <% end%>    
  </tr>
<%- end -%>
  </tbody>
</table>