<% title "Delete Announcement" %>

<% form_for @announcement, :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Announcement?</h2>
  <p>
    <%= submit_tag "Delete" %>
    or <%= link_to "cancel", announcements_path %>
  </p>
<% end %>