<%- if @announcements.empty? -%>
  <% title "#{current_teacher.salutation} doesn't have any Announcements" %><br class="clear" />
<%- else -%>
  <% title "#{current_teacher.salutation}'s Announcements" %><br class="clear" />
  <%= render 'index' %> 
<%- end -%>

<%= render 'new_link' %>