<% title @announcement.title %>

<div class="staticinfo">
<p>
  <b>Title:</b>
  <%=h @announcement.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @announcement.details %>
</p>
</div>

<%= link_to 'Home', teacher_root_url %> or <%= link_to 'Announcement list', announcements_path %>
