<% title 'Forgotten Password' %>

<div class="fp-form">
<p>
  If you've forgotten your password, you can submit your email address
  here to request a password reset.  A confirmation email will be sent to
  you which will contain a link you can use to reset your password.
</p>

<% form_tag :action => 'forgot' do %>
  <p class="fp-input">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </p>
  <%= submit_tag 'Submit reset request' %>
<% end %>
</div>