<% title "Login", false %>

<div class='login'>
  <div class="l-top"></div>
  <div class="l-tile">
    <h1>Login</h1>
<% form_tag session_path do -%>
  <label for="login">Username</label>
  <div class="form-input"><%= text_field_tag 'login' %></div>

  <label for="password">Password</label>
  <div class="form-input"><%= password_field_tag 'password' %></div>

  <label for="remember_me"><%= check_box_tag 'remember_me', '1', true %> Remember me</label>

  <%= submit_tag 'Log in' %> <%= link_to 'Forgot your password?', forgot_password_path %>
<% end -%>
  </div>
  <div class="l-btm"></div>
</div>
<h3 class="or">or</h3>
<div class="rpx">
  <div class="l-top"></div>
  <div class="l-tile">
    <h1>Login with a 3rd party account</h1>
<%= render :partial => 'rpx/rpx' %>
  </div>
  <div class="l-btm"></div>  
</div>