<% form_for([:admin, exam], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages :header_message => exam.validation_header, :message => exam.validation_message %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :exam_date %>
    <%= render :partial => "partials/date_value", :locals => { :o => exam, :f => f, :date => exam.exam_date, :date_field => :exam_date } %>    
  </p>

  <h3>Which classrooms will be taking the exam?</h3>
  <% for classroom in logged_in_teacher.active_classrooms -%>
  <label class="no_top_padding"><%= check_box_tag "exam[classroom_ids][]", classroom.id, exam.classrooms.include?(classroom) %> <%= classroom.name %></label>
  <% end -%>  
  
  <h3>Attachments</h3>
  <%= render "assets/list", :assetable => exam, :admin => true %>
    
  <p>
    <%= f.label :data, "Attach study materials or a practice test", :class => "no_top_padding" %>
    <%= f.file_field :data %>
  </p>
  <p>
    <%= f.submit 'Submit' %>  or <%= link_to 'Cancel', admin_exams_path %>
  </p>
<% end %>
