<tr id="row_<%= exam.id %>" class="<%= cycle('odd', 'even')%>">
  <td><%=h exam.title %></td>
  <td><%=h exam.exam_date %></td>
  <td><%= link_to 'Edit', edit_admin_exam_path(exam), :title => "Edit exam" %></td>
  <td><%= link_to "Delete", confirm_destroy_admin_exam_path(exam), :class => "delete", :title => "Delete exam" %></td>    
</tr>
