<% title "Delete Exam" %>

<% form_for [:admin, @exam], :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Exam?</h2>
  <p>
    <%= submit_tag "Delete" %>
    or <%= link_to "cancel", admin_exams_path %>
  </p>
<% end %>
