<% title "Listing Exams" %>

<%- if @exams.empty? -%>
<br />
<p>Right now you don't have any Exams.</p>
<%- else -%>
<table id="exams_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Exam date</th>
      <th colspan="2">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
      <%= render :partial => "row", :locals => { :exam => exam } %>
    <% end %>
  </tbody>
</table>
<%- end -%>

<br />

<%= link_to 'New exam', new_admin_exam_path, :title => "New exam" %> or <%= link_to "Back to Settings", settings_url %>
