<p>
  <b>Title:</b>
  <%=h @exam.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @exam.details %>
</p>

<p>
  <b>Exam date:</b>
  <%=h @exam.exam_date %>
</p>


<%= link_to 'Edit', edit_admin_exam_path(@exam) %> |
<%= link_to 'Back', admin_exams_path %>