<div id="classrooms_checkboxes">
  <h3>Filter Classrooms</h3>
  <div>Check: <a id="all" href="#">All</a>, <a id="none" href="#">None</a></div>
  <% current_teacher.active_classrooms.each do |classroom| -%>
  <label class="no_top_padding"><%= check_box_tag classroom.id, classroom.id, true %> <%=h classroom.name %></label>    
  <% end%>
</div>