<div id="classrooms">
<% if @classrooms.nil? || @classrooms.length == 0 %>
  <p>This teacher currently has no classrooms.</p>
<% else %>  
<% @classrooms.each do |classroom| %>
  <p>
    <%= link_to h(classroom.name), classroom_group_classroom_path(classroom.classroom_group, classroom) %>
  </p>
<% end %>
<% end %>
</div>
