<%- if @assignments.empty? -%>
<% title "#{current_teacher.salutation} doesn't have any Assignments" %>
<%- else -%>
<% title "All of #{current_teacher.salutation}'s Assignments", false %>
<h1><%= "All of #{current_teacher.salutation}'s Assignments" %> <%= link_to "View Upcoming Assignments", assignments_path, :class => "results" %></h1>
<%= render :partial => "table" %>
<%- end -%>

<%= render 'new_link'%>