<% if assignments.length > 0 -%>
<li>
  <ol id="assignments" class="statuses">
  <% assignments.each do |assignment| -%>
    <li><a href="<%= url_for(assignment) %>" class="feed_item"><%= sentence_icon("sx_icons_assignment") %><span class="sentence_indent"><%= due_sentence(assignment) %></span></a></li>
  <% end -%>
  </ol>
</li>
<% end -%>
