<%- if @assignments.empty? -%>
<% title "#{current_teacher.salutation} doesn't have any upcoming Assignments", false %>
<h1><%= "#{current_teacher.salutation} doesn't have any upcoming Assignments" %> 
<%- else -%>
<% title "#{current_teacher.salutation}'s Upcoming Assignments", false %>
<h1><%= "#{current_teacher.salutation}'s Upcoming Assignments" %>
<%- end -%>

<%= link_to "View All Assignments", all_assignments_path, :class => "results" %></h1>

<%= render 'table' %>
<%= render 'new_link'%>