<p>
  <b>Title:</b>
  <%=h @assignment.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @assignment.details %>
</p>

<p>
  <b>Start date:</b>
  <%=h @assignment.start_date %>
</p>

<p>
  <b>Due date:</b>
  <%=h @assignment.due_date %>
</p>

<p>
  <b>Classrooms:</b>
  <%=h @assignment.classrooms.to_sentence %>
</p>

<%= render "assets/list", :assetable => @assignment %>
