<%- if !@assignments.empty? -%>
<%= render 'new_link' %>
<div id="table">
<table>
  <thead>
    <tr>
      <th class="hidden">classes</th>
      <th>Title</th>
      <th>Start date</th>
      <th>Due date</th>
      <th <%= "colspan='2'" if logged_in_teacher %>>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @assignments.each do |assignment| -%>
    <tr class="<%= cycle('odd', 'even')%>">
      <td class="hidden"><%=h assignment.classrooms.to_json(:only => :id) %></td>
      <td><%=h assignment.title %></td>
      <td><%=h assignment.start_date %></td>
      <td><%=h assignment.due_date %></td>
      <% if logged_in_teacher %>
      <td><%= link_to 'Edit', edit_assignment_path(assignment), :title => "Edit assignment" %></td>
      <td><%= link_to "Delete", confirm_destroy_assignment_path(assignment), :class => "delete", :title => "Delete assignment" %></td>    
      <% else %>
      <td><%= link_to 'Show', assignment, :class => 'show' %></td>
      <% end%>      
    </tr>
  <% end -%>
  </tbody>
</table>
</div>
<%- end -%>