<% title "Delete Assignment" %>

<% form_for @assignment, :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Assignment?</h2>
  <p>
    <%= submit_tag "Delete" %>
    or <%= link_to "cancel", assignments_path %>
  </p>
<% end %>
