<% title 'View / Change Billing Information' %>

<% if @subscription.state == 'trial' %>
  <% if @subscription.next_renewal_at > Time.now %>
    <p>
      Thank you for trying <%= AppConfig['app_name'] %>! Your trial account will expire in <%= pluralize(@subscription.trial_days, 'day', 'days') %>, at which time we will automatically downgrade your account. To maintain access to Premium features, enter your credit card information below. Your first charge will happen on <%= @subscription.next_renewal_at.to_s(:long_day) %>.
    </p>
  <% else %>
    Thank you for trying <%= AppConfig['app_name'] %>! Your trial account has expired. To regain Premium features on your account, enter your credit card information below. Your first charge will happen immediately, and you will be billed monthly thereafter.
  <% end %>
<% end %>

  <b>Plan:</b>
  <%= @subscription.subscription_plan.name %> (<%= link_to "Change plan", plan_admin_teachers_url %>)
  <br />
  
  <% if @subscription.state == 'trial' -%>
    <b>Trial expiration date:</b>
    <%= @subscription.next_renewal_at.to_s(:long_day) %>
    <br />
  <% else -%>
    <% if @subscription.amount > 0 -%>
      <b>Next charge date:</b>
      <%= @subscription.next_renewal_at.to_s(:long_day) %>
      <br/>
      <b>Next charge amount:</b>
      <%= number_to_currency @subscription.amount %>
      <br/>
      <b>Current payment method:</b>
      <%= @subscription.paypal? ? 'PayPal' : "#{@subscription.card_number} / #{@subscription.card_expiration}" %>
    <% end -%>
  <% end -%>

<% if @subscription.amount > 0 -%>
  <% form_for :creditcard, @creditcard, :url => { :action => 'billing' } do |f| %>
    <%= render :partial => 'partials/credit_card', :locals => { :f => f } %>
    <p><%= f.submit 'Submit' %> or <%= link_to 'Cancel', settings_url %></p>
  <% end %>
<% end -%>
