<% title "Edit Settings" %>

<% form_for([:admin, @teacher], :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'teachers/form', :locals => { :f => f, :teacher => @teacher, :show_display_sections => true } %>
  <p>
    <%= f.submit %> or <%= link_to 'Cancel', settings_url %>
  </p>
<% end %>
