<% title "Change Plan" %>

<% if @subscription && @subscription.errors.any? %>
  <div class="errorExplanation">
    <h2>Errors encountered with your change:</h2>
    <ul>
      <%= @subscription.errors.full_messages.map {|m| content_tag('li', m)} %>
    </ul>
  </div>
<% end %>

<p>
  You can change your plan at any time. The features of the new plan that you select will be effective as soon as you make the change, but your bill amount will not change until your next bill date. Your next bill date is <%= @subscription.next_renewal_at.to_s(:long_day) %>.
</p>

<% if @subscription.needs_payment_info? -%>
  <p>Please make sure you <%= link_to('enter your billing information', billing_admin_teachers_url) %> before your bill date to prevent an automatic downgrade.</p>
<% end %>

<p>
  You are currently subscribed to the <strong><%= @subscription.subscription_plan.name %> Plan</strong>. To change to the <strong><%= @plan.name %></strong> plan<% if @plan.amount > 0 -%> with a cost of <%= number_to_currency(@plan.amount) %> per month<% end -%>, click the button.
</p>

<% form_tag plan_admin_teachers_url do %>
  <p>
    <input name='plan_id' type='hidden' value='<%= @plan.id %>' />
    <input name="commit" type="submit" id="commit" value="Switch to <%= @plan.name %>" /> or <%= link_to 'Cancel', settings_url %>
  </p>
<% end %>

