<% form_for([:admin, @classroom.classroom_group, @classroom], :html => { :class => @classroom.new_record? ? "new_classroom" : "edit_classroom" }) do |f| %>
  <%= f.error_messages :header_message => @classroom.validation_header, :message => @classroom.validation_message %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <label><%= f.check_box :display %> Display this classroom</label>
  </p>
  <p>
    <%= f.submit "Submit" %> or <%= link_to 'Cancel', admin_classroom_group_classrooms_path(@classroom.classroom_group), :class => "close" %>
  </p>
<% end %>
