<tr id="row_<%= classroom.id %>" class="hasButtons">
  <td class="removeMe">
    <% form_for(classroom, :url => move_up_admin_classroom_group_classroom_path(classroom.classroom_group, classroom), :html => { :method => :put, :id => "edit_classroom_#{classroom.id}_move_up" } ) do |f| -%> 
    <p><%= f.submit "Move Up", :id => "classroom_submit_mu_#{classroom.id}" %></p>
    <% end -%>
  </td>
  <td class="removeMe">
    <% form_for(classroom, :url => move_down_admin_classroom_group_classroom_path(classroom.classroom_group, classroom), :html => { :method => :put, :id => "edit_classroom_#{classroom.id}_move_down" } ) do |f| -%> 
    <p><%= f.submit "Move Down", :id => "classroom_submit_md_#{classroom.id}" %></p>
    <% end -%>
  </td>
  <td><%= h classroom.name %></td>
  <td><%= link_to "Delete", confirm_destroy_admin_classroom_group_classroom_path(classroom.classroom_group, classroom), :class => "delete" %></td>
  <td><%= link_to "Edit", edit_admin_classroom_group_classroom_path(classroom.classroom_group, classroom), :class => "edit" %></td>
</tr>
