<% title "Classrooms" %>

<div id="classrooms">
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
    </tr>
  <% for classroom in @classrooms -%>
    <tr>
      <td>
        <% form_for(classroom, :url => move_up_classroom_group_classroom_path(classroom.classroom_group, classroom), :html => { :method => :put } ) do |f| -%> 
        <%= f.submit "Move Up" %>
        <% end -%>
      </td>
      <td>
        <% form_for(classroom, :url => move_down_classroom_group_classroom_path(classroom.classroom_group, classroom), :html => { :method => :put } ) do |f| -%> 
        <%= f.submit "Move Down" %>
        <% end -%>
      </td>
      <td><%= h classroom.name %></td>
      <td><%= link_to "Edit", edit_classroom_group_classroom_path(classroom.classroom_group, classroom) %></td>
      <td><%= link_to "Delete", confirm_destroy_classroom_group_classroom_path(classroom.classroom_group, classroom) %></td>
    </tr>
  <% end -%>
  </table>
</div>

<%= link_to 'New Classroom', new_classroom_group_classroom_path %>
