<% title "Delete Classroom" %>

<% form_for [:admin, @classroom.classroom_group, @classroom], :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Classroom?</h2>
  <p>
    <%= submit_tag "Delete" %> or <%= link_to "cancel", admin_classroom_group_classrooms_path %>
  </p>
<% end %>
