<% title "#{@classroom_group.name} Classrooms " %>

<div id="classrooms">
  <table id="classrooms_table">
    <thead>
      <tr>
        <th></th>
        <th class="removeMe"></th>
        <th>Name</th>
        <th colspan="2">&nbsp;</th>        
      </tr>
    </thead>
    <tbody class="sorty">
    <% for classroom in @classrooms -%>
      <%= render :partial => "row", :locals => { :classroom => classroom } %>
    <% end -%>
    </tbody>
  </table>
</div>

<%= link_to 'New Classroom', new_admin_classroom_group_classroom_path, :class => "new" %> or <%= link_to "Back to Settings", settings_url %>
