<%= error_messages_for :creditcard, :address, :subscription, :object_name => "credit card", :header_message => "Sorry Try Again!", :message => "There were some problems updating your billing information" %>

  <% if @subscription -%>
    <h2><input type="radio" id="credit_card_id" name="paypal" value=" " <%= 'checked="checked"' unless @subscription.paypal? %> /><label for="credit_card_id"> Pay with a credit card</label></h2>
  <% end -%>
  
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :size => 20 %>
  </p>

  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :size => 20 %>
  </p>  

  <p>
    <%= f.label :number, "Card number" %>
    <%= f.text_field :number, :size => 20 %>
  </p>

  <p>
    <%= f.label :type %>
    <%= f.select :type, [['Visa', 'visa'], ['MasterCard', 'master']] %>    
  </p>  

  <p>
    <%= f.label :year, "Expiration" %>
    <%= f.select :month, (1 .. 12) %>
    <%= f.select :year, (Time.now.year .. 10.years.from_now.year) %>
  </p>

  <p>
    <%= f.label :verification_value %>
    <%= f.text_field :verification_value, :size => 4 %>
    <%= image_tag('cvv.gif', :id => "ccv") %>
  </p>

  <% fields_for :address do |a| %> 
  <p>
    <%= a.label :address1, "Address" %>
    <%= a.text_field :address1 %><br/>
    <%= a.text_field :address2 %>
  </p>

  <p>
    <%= a.label :city %>
    <%= a.text_field :city %>
  </p>
    
  <p>
    <%= a.label :state %>
    <%= a.text_field :state %>
  </p>

  <p>
    <%= a.label :zip %>
    <%= a.text_field :zip %>
  </p>
  
  <p>
    <%= a.label :country %>
    <%= a.country_select :country, ['United States', 'Canada'] %>
  </p>
  
  <p>
    <%= a.label :phone %>
    <%= a.text_field :phone %>
  </p>
  <% end %>

<% if @subscription -%>
    <h2><input type="radio" id="paypal_radio" name="paypal" value="true" <%= 'checked="checked"' if @subscription.paypal? %> /><label for="paypal_radio"> Pay with PayPal</label></h2>
<% end -%>
