<ul id="footer-menu">
  <li class="first"><%= link_to 'Terms', terms_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
  <li><%= link_to 'About', about_path(:subdomain => false) %></li>
</ul>
