<div id="greeting">
<% if current_user.nil? -%>
  <%= link_to 'Login', login_path %>
<% else -%>
  <%= link_to 'Settings', settings_url %>
  <% unless logged_in_teacher.nil? -%>
  <%= link_to "Messages (#{logged_in_teacher.unread_message_count})", messages_url, :id => :messages %>
  <% end -%>
<% end -%>
</div>
