<head>
  <title>Classroom Agenda - <%= h(yield(:title) || "Untitled") %></title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />  
  <meta http-equiv="Content-Style-Type" content="text/css;charset=UTF-8" />
  <link rel="shortcut icon" href="http://classroomagenda.com/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag 'style', 'application', 'styles', :cache => true %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.min', 'jquery.form', 's3Slider', 'application', :cache => true %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>    
  <%= yield(:head) %>
</head>
