<ul id="menu-login">
  <li class="nav-signup"><%= menu_link_to 'rpx', 'new', "Sign up", signup_url(:secure => true) %></li>
  <li class="nav-login"><%= menu_link_to 'sessions', 'new', "Login", login_url(:secure => true) %></li>
  <li class="nav-try-demo"><%= link_to "Try the Demo", demo_path %></li>
  <li class="nav-students-and-parents"><%= menu_link_to 'home', 'students_and_parents', "Students and Parents", students_and_parents_path %></li>
</ul>