<div class="premium">
  <div class="p-top"></div>
  <div class="p-tile">
    <h3>Premium</h3>
    <ul>
      <li>$7/month</li>
      <li>Manage Assignments</li>
      <li>Manage Exams</li>
      <li>Manage Field Trips</li>
      <li>Manage General Announcements</li>
      <li>Unlimited file attachments (worksheets, permission slips, etc)</li>
      <li>No ads</li>
      <li>Free 30 day trial - no credit card required</li>
    </ul>
    <a href="/signup/Premium/">Sign Up</a>
  </div>
  <div class="p-btm"></div>
</div>

<div class="free">
  <div class="p-top"></div>
  <div class="p-tile">
    <h3>Free</h3>
    <ul>
      <li>Completely free</li>
      <li>Manage Assignments</li>
      <li>Manage Exams</li>
      <li>Manage Field Trips</li>
      <li>Manage General Announcements</li>
      <li>10 file attachments (worksheets, permission slips, etc)</li>
      <li>Ad supported</li>
    </ul>
    <a href="/signup/Free/">Sign Up</a>
  </div>
  <div class="p-btm"></div>
</div>
