<% if !current_teacher.has_premium_plan? -%>
<div id="sidebar_ad">
<script type="text/javascript"><!--
google_ad_client = "pub-9204152224485684";
/* 160x600, created 8/1/09 */
google_ad_slot = "0542881488";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<% end -%>
