<a href="<%= url_for(feed_item) %>" class="feed_item">
<%= eval("#{feed_item.class.table_name.singularize}_updated_sentence(feed_item)") %>
<div class="meta sentence_indent"><%= time_ago_in_words feed_item.updated_at %> ago.</div>
</a>
