* { 
  margin: 0;
  padding: 0;
}

body {
  color: #454545;
  font-family: Verdana, Helvetica, Arial;
  font-size: .75em; 
}

textarea {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

input[type=checkbox] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  *overflow: hidden;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

h2 label {
  display: inline;
  padding: 0;
  text-indent:0;
}

img {
  border:0;
}

h1 {
  margin: 10px 0;
}

h3 {
  margin-left: 10px;
}

h3.side {
  margin:0;
}

#page-wrap {
	width: 950px;
	margin: 0 auto;
}
#sidebar {
	width: 280px;
	float: right;
}
#wrapper {
	width: 650px;
	float: left;
}
#header {
  margin: 10px 0;
  float: left;
}
#footer {
  clear:both;
}

#greeting {
  float: right;
  margin: 10px 10px 0 0;
}

#menu, #classrooms, #footer, #demo-menu {
  list-style:none;  
}

#footer {
  padding-top: 30px;
}


#menu li, #footer li, #demo-menu li { 
  display:inline;	
	text-indent:0;
	padding:0 2px 0 4px;
	border-left:solid #454545 1px;
}

#menu li.first, #footer li.first, #demo-menu li.first {
  padding-left: 0px;
  border:none;
}

#flash {
  display: none;
}

#flash_notice, #flash_error, #flash, .notice {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice, .notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.fieldWithErrors {
  color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-top: 10px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

h2 {
  margin: 16px 0 2px;
  border-bottom: 1px solid;
}

ol.statuses {
  font-size:  1.2em;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

ol.status_heading {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

ol.statuses > li {
  border-bottom:1px dashed #D2DADA;
  line-height:1.1em;
  /* padding:0.7em 0 0.6em;*/ 
  position:relative;
  /*padding-bottom:0.8em;
  padding-left:0.5em;  */
  margin-left: 8px;
}

a.feed_item {
  padding: 0.7em 0 .8em .5em;
}



ol.statuses div.meta {
  color:#999999;
  display:block;
  font-family:georgia;
  font-size:0.8em;
  font-style:italic;
}

#nav ul {
  margin:0;
  padding:0;
  list-style:none;
}

#nav li {
  display:inline;
  margin:0;
  padding:0;
}

/* icons */

.spritemap_icons.sx_icons_updated {
  background-position:0 -279px;
  height:11px !important; 
  margin-top: 2px;
}

.spritemap_icons.sx_icons_created {
  background-position:0 -1112px;
  height:10px !important; 
  margin-top: 3px;
}

.spritemap_icons.sx_icons_announcement {
  background-position:0 -96px;
  /* height:15px !important;  */
}

.spritemap_icons.sx_icons_exam {
  /* background-position:0 -1263px; */
  background-position:0 -32px;
  /*  height:16px !important;  */
}

.spritemap_icons.sx_icons_assignment {
  background-position:0 -48px;
  /* height:15px !important;  */
}

.spritemap_icons.sx_icons_field_trip {
  /* background-position:0 -1717px;  */
  background-position:0 -16px;
}

.spritemap_icons {
  background-image:url(http://classroomagenda.com/images/icon.png);
  background-repeat:no-repeat;
  height:16px;
  width:16px;
  position:absolute;
}

/* end icons */

.sentence_indent {
  padding-left: 22px;
}


img.handle {
  margin-right: 20px;
  cursor: move;
}

#ui-datepicker-div {
  z-index: 9999;
}

.date_value {
  display: none;
}

ul.picture-list, ul.file-list  {
  list-style: none;
}

ul.picture-list li {
  display:inline;
}

.info {
  float: right;
}

.staticinfo p, .staticinfo div {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.infomenu, .messagepop, .newpop, .delpop, .editpop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
 /* display:none; */
  margin-left: 380px;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:260px;
  z-index:50;
  
  padding: 25px 25px 20px;
}

.infomenu p, .infomenu div, .messagepop p, .messagepop.div, .pop p, .pop.div, form p, #main p {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

.messagepop {
  width: 394px;
  margin: 0 0 0 -390px;
}

.newpop {
  margin: 0;
  width: 400px;
}

.editpop {
  width: 400px;
  margin: 0 0 0 -420px;
  color: #454545;
}

.delpop {
  margin: 0;
  width: 160px;
}

.pop, .drop {
  display: none;
}

.drop {
  margin: 5px 0 5px 40px;
  width: 70%;
  background: #bbb;
  padding: 10px;
}

a.close_drop {
  float: right;
  margin-top: -11px;
}



a { 
  color: #1f75cc;
  text-decoration: none;
}

a:active 
{

}

a:visited 
{

}

a:hover { 
  background-color:#1F75CC;
  color:white;
}

.info:hover {
  background-color:#1F75CC;
  color:white;
  background-image: url(/images/arrow2.gif);
}


.info.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
  background-image: url(/images/arrow2.gif);
}

.info {
  color:#999999;
  display:block;
  font-size:10px;
  padding:0px 17px 0 7px; 
  /* display:none; */
  background-image:url(/images/arrow.gif);
  background-position: 35px center;
  background-repeat:no-repeat;
  position:relative;
}

.loading {
  height:100px;
  background-image:url(/images/wait.gif);
  background-repeat:no-repeat;
  background-position: center;
}

.loading-small {
  background-image:url(/images/wait-small.gif);
  background-repeat:no-repeat;
  background-position: center left;
}

#login_valid {
  display: block;
  /*margin:-23px 0 0 270px;*/
}

.list {
  margin: 0 0 0 -253px;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}


/* tables */
table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 0 0 10px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
table.wide {
  width: 580px;
}

table thead {
	border-bottom: 2px solid #6678b1;
}

table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
}
table td
{
	border-bottom: 1px solid #ccc;
	color: #454545;
	padding: 6px 8px;
}
table tbody tr:hover td
{
	color: #009;
}

table.calendar {
  font-size:11px;
  width: 200px;
}

table.calendar th {
  font-size:11px;
  width: 200px;
  padding: 0px;
}

table.calendar td {
  padding: 0px;
  height: 25px;
}

table.calendar a {
}

form h3 {
  margin: 15px 0 4px;
}

a.feed_item {
  display:block;
  color: #454545;
  outline: none;
}

/* demo frame */
#t {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;  
  background: #FFF url(/images/back.gif) repeat-x scroll 0 0;
  border-bottom: 1px solid #666;
  height: 36px;
  width: 100%;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  z-index: 100;
/*  padding: 10px 0 0 30px; */
}

#t ul {
  margin: 12px 0 0 30px;
}

iframe#demo_iframe {
  color: #666;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.fpsection {
  float: left;
  width: 350px;
  height: 100px;
  margin-right: 20px;
}

.fpsection h3 {
  margin: 5px 0 0;
}

#export_url {
  width: 270px;
}

#ccv {
  width: 51;
  height: 31;
  vertical-align: middle;
}

label.no_top_padding {
  padding-top:0;
}

input[type='submit'] {
  margin-top: 18px;
}

.existing_assets {
  margin-bottom:7px;
  font-size:14px;
  line-height:18px;
}

#main #contact_email {
  margin-bottom:10px;
}

#main #contact_address {
  margin-left: 10px;
}

#main #contact_phone {
  margin-top: 10px;
}

#main #other_options {
  font-size: 21px;
  line-height: 18px;
}

#main #signup_rpx, #main #signup_provider {
  margin: 10px 0;
}

#main #signup_benefits {
  list-style:none;
  margin-left: 10px;
}

#main #about {
  float: left;
  margin: 10px 0;
  width:650px;
}

#about_pic {
  float:right;
  margin: 0 0 15px 15px;
}

#landing_header {
  text-align:center;
  padding-top:0px;
}

.hidden {
  display:none;
}

#classrooms_checkboxes>div {
  font-size:11px;
}

#students {
  float:left;
  width:400px;
  padding-right:10px;
}

#main>h1 {
  margin-bottom:10px;
}

#students>p#s-contact {
  margin-top:10px;
}

#s-image {
  padding:0 10px;  
}

#q-label {
  display:inline;
}

.sm-profile-image {
  float:left;
}

.teacher-listing {
  border-bottom:1px solid #EEEEEE;
  min-height:50px;
  padding:2px 0;
}

.teacher-listing-pic {
  float:left;
  height:50px;
  overflow:hidden;
  position:relative;
  width:50px;  
}

.teacher-listing-meta {
  width:600px;
  float:left;
  overflow:hidden;
  padding-left:10px;
  padding-top:6px;
  white-space:nowrap;  
}
