/* classroomagenda stylesheet */

body {
	background: #2d3d50 url(../images/tile-07.png) 0 0 fixed repeat-x;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
}
#page-wrap {
  height: 100%; 
  width:950px;
  padding: 0 4px 6px 4px;
  background: url(../images/page-wrap-tile.png) repeat-y 0 0;
  overflow: hidden;
}
/* typography */ 
h1, h2, h3 {
  margin: 0;
  font-family: "Rockwell", Arial, sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #000;
}
h2 {
  line-height: 32px;
  font-size: 30px;
  padding: 20px 0 10px 0;
  border-bottom: none;
}
h3 {
  font-size: 18px;
}
a:hover {
 background: #e4f1ff;
 color: #000; 
}
h3.side {
  font-size: 14px;
}
.infomenu p, 
.infomenu div, 
.messagepop p, 
.messagepop.div, 
.pop p, .pop.div, 
form p, #main p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#main .infomenu p {
  padding-bottom: 5px;
}
#sidebar p {
  font-family: "Rockwell", Arial, sans-serif;
  padding: 0 0 5px 0;
}
#classrooms a,
a#contact_teacher {
  font-family: "Rockwell", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 3px 0;
}
ol.statuses div.meta {
  font-family: "Lucide Grande", Arial, sans-serif;
}
/* header logo */
#header h1,
#single-header h1 {
  display: block;
  height: 73px;
  width: 615px;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat 0 0;
}
#header h1 a,
#single-header h1 a {
  display: block;
  height: 73px;
  width: 615px;
  text-indent: -9999px;
}
#header h1 a:hover,
#single-header h1 a {
  background-color: transparent;
}
#greeting {
  display: block;
  height: 14px;
  width: 210px;
  background: url(../images/tab.png) no-repeat bottom left;
  text-align: center;
  color: #fff;
  padding: 5px 0 15px 0;
  margin: 0 20px 0 0;
}
#greeting a {
  color: #fff;
  font-family: "Rockwell", Arial, sans-serif;
  padding: 5px;
}
#greeting a:hover {
  background-color: #fff;
  color: #000;
}
/* navigation */
ul#menu,
ul#menu-login {
  display: block;
  clear: both;
  height: 64px;
  width: 950px;
  background: url(../images/nav/background.png) repeat-x 0 0;
}
  #menu li,
  #menu-login li {
    border: none;
    padding: 0;
    display: block;
    float: left;
  }
  #menu li a,
  #menu-login li a {
    display: block;
    height: 62px;
    width: 74px;
    text-indent: -9999px;
    background: url(../images/nav/nav-sprite.png) no-repeat bottom left;
    margin: 0 5px 0 10px;
    outline: none;
  }
  #menu li.nav-home a { background-position: bottom left; }
  #menu li.nav-calendar a { background-position: -74px -62px; width: 104px; }
  #menu li.nav-announcements a { background-position: -178px -62px; width: 172px; }
  #menu li.nav-assignments a { background-position: -350px -62px; width: 139px; }
  #menu li.nav-exams a { background-position: -489px -62px; width: 81px; }
  #menu li.nav-fieldtrips a { background-position: -570px -62px; width: 110px; }
  
  #menu li a:hover, #menu li a.selected { background-position: top left; }
  #menu li.nav-calendar a:hover, #menu li.nav-calendar a.selected { background-position: -74px 0; }
  #menu li.nav-announcements a:hover,  #menu li.nav-announcements a.selected { background-position: -178px 0; }
  #menu li.nav-assignments a:hover, #menu li.nav-assignments a.selected { background-position: -350px 0px; }
  #menu li.nav-exams a:hover,  #menu li.nav-exams a.selected { background-position: -489px 0px; }
  #menu li.nav-fieldtrips a:hover, #menu li.nav-fieldtrips a.selected { background-position: -570px 0px; }
  
  /* signup/login user nav */
   #menu-login li a {
     width: 87px;
    background: url(../images/nav/nav-login-sprite.png) no-repeat bottom left;
  }
  #menu-login li.nav-signup a { background-position: bottom left; }
  #menu-login li.nav-login a { background-position: -87px -62px; width: 70px; }
  #menu-login li.nav-try-demo a { background-position: -157px -62px; width: 107px; }
  #menu-login li.nav-students-and-parents a { background-position: -264px -62px; width: 201px; }
  
  #menu-login li a:hover, #menu-login li a.selected { background-position: top left; }
  #menu-login li.nav-login a:hover, #menu-login li.nav-login a.selected { background-position: -87px 0; }
  #menu-login li.nav-try-demo a:hover,  #menu-login li.nav-try-demo a.selected { background-position: -157px 0; }
  #menu-login li.nav-students-and-parents a:hover,  #menu-login li.nav-students-and-parents a.selected { background-position: -264px 0; }

/* landing page marquee */
#gallery {
  width: 910px;
  height: 390px;
  position: relative;
	overflow: hidden;
	background: url(../images/marquee/bg.jpg) no-repeat 0 0;
}
  #landing #galleryContent {
    width: 910px;
    position: absolute;
  	top: 0;
  	margin-left: 0;
  }
  #landing .gImage {
    float: left;
    position: relative;
  }
  #landing .gImage span {
    position: absolute;
  	font-size: 14px;
  	font-family: "Arial", sans-serif;
    width: auto;
    background-color: #fff;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
  	-khtml-opacity: 0.8;
    opacity: 0.8;
    color: #000;
  }
  #landing .gImage span.dark {
    background-color: #ddd;
  }
  #landing .gImage span a {
   /* color: #333; */
  }
  #landing .gImage span strong {
    display: block;
    font-family: "Rockwell", Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  #landing .gImage span strong.kern {
    letter-spacing: -0.07em;
  }
  #gallery .clear {
  	clear: both;
  }
  #gallery .left {
    left: 0;
  	bottom: 3px;
  	width: 271px !important;
  	height: 379px;
  	padding: 12px 15px 0 15px;
  }
  #landing .right {
  	right: 0;
  	bottom: 3px;
  	width: 305px !important;
  	height: 379px;
  	padding: 12px 15px 0 15px;
  }
  
  #landing .right-bottom {
    position:absolute;
    bottom:0;
    margin-bottom:10px;
  }
  
  #right-parents, #right-students, #right-teachers, #right-how {
    display:none;
  }
  
  .how-link {
    border-top: 1px solid #000;
    display:block;
  }
  
  
  #landing ul { list-style-type: none;}
  #landing ul>li { margin:0 0 20px;}

/* content */ 
#main,
.landing,
.content {
  padding: 20px;
}
#main {
  clear: both;
}
.fpsection {
  width: 283px;
  height: 300px;
  float: left;
  margin: 0;
  padding: 10px;
  background: url(../images/border-01.png) no-repeat top right;
}
  .fpsection h3 {
    font-family: "Rockwell", Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    padding: 2px 0 5px 33px;
    background: url(../images/bullets/organized.png) no-repeat 2px 0;
  }
  .fpsection h3.icon-02 {
    background: url(../images/bullets/connect.png) no-repeat 2px 0;
  }
  .fpsection h3.icon-03 {
    background: url(../images/bullets/involved.png) no-repeat 2px 0;
  }
  .fpsection h3.icon-04 {
    background: url(../images/bullets/agenda.png) no-repeat 2px 0;
  }
  .fpsection p {
    padding: 3px 5px;
  }
#wrapper {
  width: 710px;
  position: relative;
}

/* sidebar */ 
#sidebar {
  width: 209px;
  padding: 20px 10px 0 20px;
  height: 900px; /* use js to extend this to 100% of the page */
  border-left: 1px solid #e4e4e4;
}
#sidebar img {
  border: 1px solid :#e4e4e4;
}

/* calendar */
#calendar {
  margin: 0 0 10px 0;
} 
  form#calendar_settings b {
    font-family: "Rockwell", Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
  }
  .ui-datepicker {
    width: 12.40em;
  }
  .ui-datepicker th {
    font-weight: normal;
    padding: 3px 0;
  }
  .ui-datepicker td span, .ui-datepicker td a {
    padding: 0;
    font-size: 12px;
    text-align: center;
  }
  .ui-state-default, .ui-widget-content .ui-state-default {
    font-weight: normal;
  }
  .ui-datepicker th,
  .ui-datepicker .ui-datepicker-title {
    font-family: "Rockwell", Arial, sans-serif;
    font-weight: normal;
  }
  #export_url {
    width: 200px;
  }
  form#calendar_settings h3 {
    padding: 14px 0 0 0;
    margin: 0;
  }
  form#calendar_settings label {
    margin: 0;
    padding: 10px 0 0 0;
    text-indent: 0;
    line-height: 14px;
  }

/* form styles */
.form-block {
  display: block;
  padding: 10px 0;
} 
form label {
  padding-top: 10px;
}
form input,
form select,
form textarea {
  padding: 4px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px;
  background: #f9f9f9;
  border: 1px solid #d2d2d2;
}
form textarea:focus,
form select:focus,
form input:focus { 
  background: #e1dfde;
  -webkit-transition: background; 
  -webkit-transition-timing-function: ease-out; 
  -webkit-transition-duration: 0.5s; 
}
#user_submit {
  /*display: block;*/
  /* margin-top: 18px;
  cursor: pointer; */
}
.fp-form {
  margin: 10px 0 0 0;
}
.fp-input {
  display: block;
  height: 70px;
}
.fp-form p {
  width: 450px;
}
/* dropdown boxes */
.drop {
  background: none;
  margin: 0;
  padding: 0 0 0 30px;
  width: auto;
}
  .drop .top-lrg {
    display: block;
    height: 15px;
    width: 630px;
    background: url(../images/boxes/top-lrg.png) no-repeat bottom left;
  }
  .drop .tile-lrg {
    width: 600px;
    background: url(../images/boxes/tile-lrg.png) repeat-y 0 0;
    padding: 3px 15px;
  }
  .drop .btm-lrg {
    display: block;
    height: 15px;
    width: 630px;
    background: url(../images/boxes/btm-lrg.png) no-repeat 0 0;
    margin: 0 0 20px 0;
  }
  a.close_drop {
    display: block;
    height: 15px;
    width: 17px;
    text-indent: -9999px;
    background: url(../images/boxes/close-btn.jpg) no-repeat 0 0;
    outline: none;
    margin:-40px 8px 0 0;    
  }
  .ie6 a.close_drop {
    margin: -45px;
  }
/* prompt boxes */
.infomenu, .messagepop, .newpop, .delpop, .editpop {
  background-color:#FFFFFF;
  border:1px solid #999;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  cursor:default;
}
/* table styles */ 
a.results {
  font-size:12px;
  padding:2px;  
/*  display: block;
  padding-top: 10px; */
}
#wrapper table {
  width: 670px;
  border: 1px solid #d2d2d2;
  margin-top: 10px;
}
#wrapper table thead {
  border-bottom: none;
}
#wrapper table th {
  font-family: "Rockwell", Arial, sans-serif;
  font-size: 20px;
  color: #000;
  background-color: #fff;
}
#wrapper table tr.odd {
  background-color: #f0f0f0;
}
#wrapper table td {
  font-size: 14px;
  padding: 8px 8px 8px 10px;
  border-bottom: none;
  border-top: 1px solid #CCC;
}
#wrapper table tbody tr:hover td {
  color: #454545;
}
table.ui-datepicker-calendar th {
  font-size: 14px;
}
/* settings page */ 
#settings a {
  display: block;
  font-size: 20px;
  line-height: 22px;
  font-family: "Rockwell", Arial, sans-serif;
}
#settings p {
  line-height: 18px;
  vertical-align: baseline;
  margin: 0 0 10px 0;
  padding: 0 5px;
}
/* pricing page */ 
.premium, .free {
  display: block;
  float: left;
  margin-right: 10px;
  width: 400px;
  height: 500px;
}
.free {
  /* width: 315px; */
}

  .or {
    float:left;
    padding:18px 10px 0 0;
  }

  .login, .rpx {
    display: block;
    float: left;
    margin-right: 10px;
    width: 400px;    
  }

  .login .l-top, .rpx .l-top {
    display: block;
    height: 15px;
    width: 400px;
    background: url(../images/boxes/p-top.png) no-repeat bottom left;    
  }
  
  .login .l-tile, .rpx .l-tile {
    width: 400px;
    background: url(../images/boxes/p-tile.png) repeat-y 0 0;
    padding: 3px 15px;    
  }
  
  .login .l-btm, .rpx .l-btm {
    display: block;
    height: 15px;
    width: 400px;
    background: url(../images/boxes/p-btm.png) no-repeat 0 0;
    margin: 0 0 20px 0;    
  }

/* .p-top = PRICING TOP and so on. */
  .premium .p-top, .free .p-top {
    display: block;
    height: 15px;
    width: 400px;
    background: url(../images/boxes/p-top.png) no-repeat bottom left;
  }
  .premium .p-tile, .free .p-tile {
    width: 370px;
    background: url(../images/boxes/p-tile.png) repeat-y 0 0;
    padding: 3px 15px;
  }
  .premium .p-btm, .free .p-btm {
    display: block;
    height: 15px;
    width: 400px;
    background: url(../images/boxes/p-btm.png) no-repeat 0 0;
    margin: 0 0 20px 0;
  }
  /* smaller box 
  .free .p-top {
    display: block;
    height: 15px;
    width: 315px;
    background: url(../images/boxes/p-top-sml.png) no-repeat bottom left;
  }
  .free .p-tile {
    width: 285px;
    background: url(../images/boxes/p-tile-sml.png) repeat-y 0 0;
    padding: 3px 15px;
  }
  .free .p-btm { 
    display: block;
    height: 15px;
    width: 315px;
    background: url(../images/boxes/p-btm-sml.png) no-repeat 0 0;
    margin: 0 0 20px 0;
  }*/
  .premium h3, .free h3 {
    font-size: 30px;
    margin: 10px 0;
  }
  .premium a, .free a {
    display: block;
    height: 38px;
    width: 296px;
    background: url(../images/btns/premium-acct.png) no-repeat 0 0;
    text-indent: -9999px;
    margin-top: 25px;
    outline: none;
  }
  .free a {
    margin-top: 59px;
    width: 173px;
    background: url(../images/btns/free-version.png) no-repeat 0 0;
  }
  .premium a:hover, .free a:hover {
    background-position: bottom left; 
  }
  #main .premium p, #main .free p {
    margin: 20px 0 10px;
  }
  .premium li, .free li {
    list-style: none;
    padding: 0;
  }
  .premium li, .free li {
    font-family: "Rockwell", Arial, sans-serif;
    font-size: 20px;
    padding: 5px 0;
    line-height: 22px;
    border-bottom: 2px dashed #c9c9c9;
  }
/* t&c's and calendar instructions */
#terms h2 {
  padding: 20px 0 10px 0;
}
#add-calendar .nav li {
  float: left;
  list-style-type: none;
  padding: 10px 0;
  margin: 0 20px 0 0;
}
#add-calendar h2 {
  clear: both;
  margin-top: 50px;
  padding: 20px 0 10px 0;
  border-top: 1px dashed #D2DADA;
}
#add-calendar h3,
#terms h3 {
  padding: 10px 0 5px;
}
#add-calendar p,
#terms p {
  padding: 0 0 0 20px;
}
#add-calendar ol li,
#terms ol li {
  padding: 0 0 2px 20px;
  list-style-type: decimal;
  list-style-position: inside;
}
#add-calendar ol li {
  padding: 0 0 10px 20px;
}
#add-calendar ul li,
#terms ul li {
  margin-left: 38px;
  padding: 0 0 10px 0;
  list-style-type: disc;
}
#add-calendar img {
  margin-bottom: 30px;
}

/* prompts and errors */ 
#flash_notice, #flash_error, #flash, .notice {
  /*background: transparent;*/
  background: #e8ffe4;
  border: 1px dashed #D2DADA;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  padding: 6px;
  margin: 0 0 19px 0;
  font-family: "Rockwell", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
#flash_error {
  background-color: #ffe4e4;
}
#errorExplanation {
  background:#f8f8f8;
  border:1px dashed #D2DADA;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  padding:0 0 12px;
  width:auto;
}
#errorExplanation h2 {
  background-color:#ffe4e4;
  color:#000;
  font-size:16px;
  font-weight:normal;
  font-family: "Rockwell", Arial, sans-serif;
  margin:0;
  padding:5px 5px 5px 15px;
  text-align:left;  
}
#errorExplanation p,
#errorExplanation ul li {
  margin: 5px 10px 0 15px;
}
.fieldWithErrors {
  color: #000;
  font-size: 130%;
}
/* footer */ 
#footer {
  width: 918px;
  padding: 20px;
  margin: 0 auto;
  background: url(../images/btm.png) no-repeat bottom left;
}
  
  
  
  
  
  
