<p>
  <%= f.label :login, "Username" %>
  <%= f.text_field :login %> <span id="loading_small"><span id="login_valid"></span></span>
</p>

<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>
