<% if errors.nil? -%>
  This username is available! Your url would be http://<%= h @user.login %>.classroomagenda.com
<% else -%>
  Username <%= errors.is_a?(Array) ? errors.to_sentence : errors %>
<% end -%>
