<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <% title "Demo Account", false %>
  <%= render :partial => 'partials/head' %>
    <frameset frameborder="0" rows="38px, *" >
      <frame frameborder="0" noresize="noresize" src="<%= demo_menu_user_path(current_user) %>"></frame>
      <frame frameborder="0" noresize="noresize" src="<%= teacher_root_path(:subdomain => current_user.login) %>" name="demo_frame" />
    </frameset>
    <noframes>
      <body>Your browser needs to support frames in order to try out the demo account, sorry!</body> 
    </noframes>
    <%= render :partial => 'partials/analytics' %> 
</html>
