<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => 'partials/head' %>
  <body>
    <span id="t">
      <ul id="demo-menu">
        <li class="first"><%= link_to "View as a student or parent", root_url(:subdomain => current_user.login), :target => "demo_frame" %></li>
        <li><%= link_to "View teacher settings", settings_url, :target => "demo_frame" %></li>
        <li><%= link_to "Sign up for an account of your very own", signup_path, :target=> "_top" %></li>
      </ul>
    </span>
  </body>
</html>
