<% title "Edit User Settings" %>

<% form_for @user do |f| %>
  <%= render :partial => 'common', :locals => { :f => f } %>
  <p>
    <%= f.submit %> or <%= link_to 'Cancel', settings_url %>
  </p>
<% end %>
