<% title "Sign up" %>

<%= error_messages_for :user, :header_message => @user.validation_header, :message => @user.validation_message %>

<% form_for @user, :url => rpx_create_users_url do |f| %>
  <%= hidden_field_tag 'plan', params[:plan] %>
  <p>
    <%= f.label :login, "Domain - http://xxxxx.classroomagenda.com" %>
    <%= f.text_field :login %> <span id="loading_small"><span id="login_valid"></span></span>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>  
    
  <p>
    <%= f.submit "Next »" %>
  </p>
<% end %>
