<% title "Sign up" %>

<%= error_messages_for :user, :header_message => @user.validation_header, :message => @user.validation_message %>

<% form_for :user, :url => users_path do |f| -%>
  <%= hidden_field_tag 'plan', params[:plan] %>
  <%= render :partial => 'common', :locals => { :f => f } %>

    <%= f.label :password %>
    <%= f.password_field :password %>


    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
 
    <div class="form-block">
    <%= f.submit "Next »" %>
    </div>
<% end -%>
