<% title "Settings", false%>

<div id="settings">

<h2>Classroom Settings</h2>
<p>
  <%= link_to 'Classrooms', classrooms_settings_url %>
  Add, edit, remove or change the display order of your current classrooms.
</p>
<p>
  <%= link_to 'Terms', admin_classroom_groups_path %>
  Did you just start a new quarter, trimester, or semester? Add a new term here.
</p>
<p>
  <%= link_to 'Attachments', assets_path %>
  Do you need to add files to your Announcements, Assignments, Exams or Field Trips? Add them here.
</p>

<h2>Account Settings</h2>
<p>
  <%= link_to 'Teacher Settings', edit_admin_teacher_path(current_user.teacher), :title => "Teacher Settings" %>
  Upload a photo, change your salutation or write a short bio.
</p>
<p>
  <%= link_to 'User Settings', edit_user_path(current_user) %>
  Edit your login, password, and subscription settings.
</p>
<p>
  <%= link_to('Billing', billing_admin_teachers_url(:secure => true))   %>
  View or change your billing information.
</p>
<p>
  <%= link_to 'Plan', plan_admin_teachers_path %>
  View or change your subscription plan here.
</p>

</div>
