Thank you for using <%= AppConfig['app_name'] %>!

Your credit card <%= @subscription.card_number %> has been charged 
<%= number_to_currency(@amount) %>.

The attached invoice is for your records.


INVOICE
----------------------------------------------------------

<%= AppConfig['app_name'] %>

Bill to:
<%= @subscription.teacher.user.full_name %>

Description                                          Price
----------------------------------------------------------
<%= "Service charge".ljust(36) %> <%= number_to_currency(@amount).rjust(21) %>

If you have any questions about this invoice, please contact 
<%= AppConfig['from_email'] %>.

Thank you for your business!
