Someone (presumably you) has requested your password to be reset for your <%= AppConfig['app_name'] %> account at http://<%= @reset.user.login %>.classroomagenda.com.

Please use the following link to reset your password. This link will expire in 2 hours. 

http://<%= @reset.user.login %>.classroomagenda.com/reset/<%= @reset.token %>

If you didn't request your password to be reset, please ignore this email, and no change will be made.
