Welcome to <%= AppConfig['app_name'] %>!

You signed up for the <%= @teacher.subscription.subscription_plan.name %> plan with the email address <%= @user.email %>.

To sign in again in the future, please return to the following URL and use the email address and password you used to create your account:

http://<%= @user.login %>.classroomagenda.com 

If you have any questions about or problems with the service, please don't hesitate to email <%= AppConfig['from_email'] %>.
