<iframe src="https://classroom-agenda.rpxnow.com/openid/embed?token_url=<%= CGI.escape(rpx_url) %>&flags=hide_sign_in_with"
  scrolling="no" frameBorder="no" style="width:370px;height:240px;padding-top:10px">
</iframe>

