<% title "Sign Up" %>

<p id="signup_rpx">If you'd like to log in using an account you already have, you can. This is <strong>completely</strong> optional but has a couple of nice benefits:</p>

<ul id="signup_benefits">
  <li>We'll be able to get you registered a little bit faster.</li>
  <li>One less password to remember!</li>
</ul>

<p id="signup_provider">Sign up with a 3rd party provider below or <%= link_to "create an account with a traditional username/password.", plans_teachers_path %></p>

<%= render :partial => 'rpx' %>
