<% title "About Classroom Agenda", false %>

<div id="main">
  <h1><%=h yield(:title) %></h1>
  <p id="about"><img id="about_pic" src="/images/profile-pic.png" />Hi, my name is Andy. I have two boys in elementary and I thought there could be a better way to find out about what they're doing in school. My goal was to build something that is easy for teachers to use and easy for students or parents to check - I'm always looking for ways to make Classroom Agenda better for you. <br /><br />If you have any suggestions please <%= link_to 'get in touch', contact_path %>.</p>
  
</div>
