<% title "Contact Us", false %>

<div id="main">
  <h1><%=h yield(:title) %></h1>
      
  <% form_for :home, :url => { :action => 'contact' } do |f| %>
  <p>
  <label for="email">
  Your email address - not required but if you would like us to get back to you we'll need it.
  </label>
  <input type="text" id="email" name="email" />
  </p>

  <p>
  <label>
  Message
  </label>
  <textarea name="body" id="body" rows="6" cols="35"></textarea>
  </p>

  <p>
  <input type="submit" value="Send message" /> or <a href="/">Cancel</a>
  </p>
  <% end %>

  <h2 id="other_options">Other options</h2>
  <p id="contact_email">
  If you prefer sending an email directly you can send it to <a href="mailto:andy@classroomagenda.com">andy@classroomagenda.com</a>
  </p>

  <p>
  Want to send us a fancy postcard? Here's our address:
  <p>
  <p id="contact_address">
  Classroom Agenda<br />
  1391 Silverwood Rd<br />
  St Paul, MN 55125<br />
  </p>

  <p id="contact_phone">Give us a call! Our number is 952.381.2962</p>
</div>
