<% title "Connect with your students and parents", false %>

<div class="landing" id="landing">
  <h2 id="landing_header">Classroom Agenda connects teachers to students and parents.</h2>
  <div class="gImage">
  <a href="/demo"><img src="images/marquee/01.jpg" alt="2" /></a>
  <span id="right-main" class="right">

  </span>
  <span id="right-how">
    <strong>How Classroom Agenda works</strong>
    <ul>
      <li>Teachers <%= link_to "sign up", signup_url %> for an account.</li>
      <li>Teachers manage their assignments, exams, field trips, and general classroom announcements.</li>
      <li>Teachers give students a URL to their Classroom Agenda site - students and parents can also find teachers with our search tool.</li>
      <li>Parents and students don't have to register - simply <%= link_to 'search', search_teachers_url %> or get the URL from your teacher.</li>
      
      <li class="hidden">Easily view classroom schedules - on the web or on your phone.</li>
      <li class="hidden">Let parents and students see what's going on in class from home.</li>
      <li class="hidden">Provide accountability for teachers and students.</li>
      <li class="hidden">Kids lose permission slips and worksheets. With Classroom Agenda they can print new ones at home.</li>
    </ul>
    <div class="right-bottom">
    See what Classroom Agenda does for:<br />
    <a class="teachers-link" href="#">Teachers</a>, <a class="students-link" href="#">Students</a> or <a class="parents-link" href="#">Parents</a>
    </div>    
  </span>
  <span id="right-teachers">
    <strong>What we can do for Teachers</strong>
    <ul>
      <li>Attach worksheets, permission slips or any other type of document to your account.</li>
      <li>Stay organized. Easily check your agenda daily before school starts.</li>
      <li>Provide accountability. Classroom Agenda makes it easy for parents and students to stay up to date.</li>
    </ul>
    <div class="right-bottom">
    See what Classroom Agenda does for:<br />
    <a class="students-link" href="#">Students</a> or <a class="parents-link" href="#">Parents</a>
    </div>
  </span>
  <span id="right-parents">
    <strong>What we can do for Parents</strong>
    <ul>
      <li>See what your child is learning in school.</li>
      <li>Subscribe to teacher feeds - get updates automatically.</li>
      <li>Import Classroom Agenda's calendar to your existing calendar - Microsoft Outlook, Apple iCal and Google Calendar supported.</li>
    </ul>
    <div class="right-bottom">
    See what Classroom Agenda does for:<br />
    <a class="students-link" href="#">Students</a> or <a class="teachers-link" href="#">Teachers</a>
    </div>
  </span>
  <span id="right-students">
    <strong>What we can do for Students</strong>
    <ul>
      <li>Subscribe to updates on your computer or phone using the calendar.</li>
      <li>Find out what happened in class if you missed it. Download assignments, permission slips or other resources your teacher provides.</li>
    </ul>    
    <div class="right-bottom">
    See what Classroom Agenda does for:<br />
    <a class="teachers-link" href="#">Teachers</a> or <a class="parents-link" href="#">Parents</a>
    </div>    
  </span>
  </div>  
</div>