<% title "Students and Parents" %>

<div id="students">
<p>Students and parents don't need to create an account on Classroom Agenda. If you're having trouble finding your teacher you can ask your teacher or try <%= link_to 'searching', search_teachers_url %>. Once you find your teacher you can bookmark your teacher's site, subscribe to updates with a feed reader, or add your teacher's calendar to your existing calendar software.</p>

<p id="s-contact">If your teacher isn't currently using Classroom Agenda and you'd like to let them know about it, you can send them an email:</p>
<% form_for :home, :url => { :action => 'students_and_parents' } do |f| %>
<p>
<label for="name">
Your name
</label>
<input type="text" id="name" name="name" />
</p>

<p>
<label for="email">
Teacher's email address
</label>
<input type="text" id="email" name="email" />
</p>

<p>
<label>
Message
</label>
<textarea name="body" id="body" rows="6" cols="35"></textarea>
</p>

<p>
<input type="submit" value="Send message" /> or <a href="/">Cancel</a>
</p>
<% end %>
</div>

<img id="s-image" src="/images/03.jpg" />