<% form_for([:admin, assignment], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages :header_message => assignment.validation_header, :message => assignment.validation_message %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :start_date, "Start date - when did students start the assignment?" %>
    <%= render :partial => "partials/date_value", :locals => { :o => assignment, :f => f, :date => assignment.start_date, :date_field => :start_date } %>    
  </p>
  <p>
    <%= f.label :due_date %>
    <%= render :partial => "partials/date_value", :locals => { :o => assignment, :f => f, :date => assignment.due_date, :date_field => :due_date } %>    
  </p>
  
  <h3>Which classrooms are working on this assignment?</h3>
  <% logged_in_teacher.active_classrooms.each do |classroom| -%>
  <label class="no_top_padding"><%= check_box_tag "assignment[classroom_ids][]", classroom.id, assignment.classrooms.include?(classroom) %> <%= classroom.name %></label>
  <% end -%>
  
  <h3>Attachments</h3>
  <%= render "assets/list", :assetable => assignment, :admin => true %>
  
  <p>
    <%= f.label :data, "Attach a worksheet or study materials", :class => "no_top_padding" %>
    <%= f.file_field :data %>
  </p>
  <p>
    <%= f.submit %> or <%= link_to 'Cancel', admin_assignments_path %>
  </p>
<% end %>
