<tr id="row_<%= assignment.id %>" class="<%= cycle('odd', 'even')%>">
  <td><%=h assignment.title %></td>
  <td><%=h assignment.start_date %></td>
  <td><%=h assignment.due_date %></td>
  <td><%= link_to 'Edit', edit_admin_assignment_path(assignment), :title => "Edit assignment" %></td>
  <td><%= link_to "Delete", confirm_destroy_admin_assignment_path(assignment), :class => "delete", :title => "Delete assignment" %></td>
</tr>
