<% title "Listing Assignments" %>
<%- if @assignments.empty? -%>
<br />
<p>Right now you don't have any Assignments.</p>
<%- else -%>
<table id="assignments_table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>Due date</th>
	<th colspan="2">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @assignments.each do |assignment| %>
    <%= render :partial => "row", :locals => { :assignment => assignment } %>
  <% end %>
  </tbody>
</table>
<%- end -%>
<br />

<%= link_to 'New assignment', new_admin_assignment_path, :title => "New assignment" %> or <%= link_to "Back to Settings", settings_url %>
