<p>
  <b>Title:</b>
  <%=h @assignment.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @assignment.details %>
</p>

<p>
  <b>Start date:</b>
  <%=h @assignment.start_date %>
</p>

<p>
  <b>Due date:</b>
  <%=h @assignment.due_date %>
</p>


<%= link_to 'Edit', edit_admin_assignment_path(@assignment) %> |
<%= link_to 'Back', admin_assignments_path %>
