<tr id="row_<%= announcement.id %>" class="<%= cycle('odd', 'even')%>">
  <td><%=h announcement.title %></td>
  <td><%=h announcement.start_date %></td>
  <td><%=h announcement.end_date %></td>
  <td><%= link_to 'Edit', edit_admin_announcement_path(announcement), :title => "Edit announcement" %></td>
  <td><%= link_to "Delete", confirm_destroy_admin_announcement_path(announcement), :class => "delete", :title => "Delete annoucement" %></td>
</tr>
