<% title "Listing Announcements" %>
<%- if @announcements.empty? -%>
<br />
<p>Right now you don't have any Announcements.</p>
<%- else -%>
<table id="announcements_table">
  <thead>
    <tr><th>Title</th><th>Start date</th><th>End date</th><th colspan="2">&nbsp;</th></tr>
  </thead>
  <tbody>
  <% @announcements.each do |announcement| %>
    <%= render :partial => "row", :locals => { :announcement => announcement } %>
  <% end %>
  </tbody>
</table>
<%- end -%>
<br />

<%= link_to 'New announcement', new_admin_announcement_path, :title => "New announcement" %> or <%= link_to "Back to Settings", settings_url %>
