<p>
  <b>Title:</b>
  <%=h @announcement.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @announcement.details %>
</p>

<p>
  <b>Target date:</b>
  <%=h @announcement.target_date %>
</p>


<%= link_to 'Edit', edit_admin_announcement_path(@announcement) %> |
<%= link_to 'Back', admin_announcements_path %>