<% form_for(:calendar_settings, @calendar_settings, :controller => "teachers", :action => :show_date, :year => @date.year, :month=>sprintf("%02d", @date.month), :day=>sprintf("%02d", @date.day), :html => { :method => :get, :id=> 'calendar_settings' }) do |f| -%>
<div>
  <label for="export_url">Add to this calendar to <%= calendar_help_link 'Google Calendar', 'google_calendar' %>, <%= calendar_help_link 'iCal', 'apple_ical' %> or <%= calendar_help_link 'Outlook', 'microsoft_outlook' %></label>
  <input type="text" id="export_url" value="<%= url_for(:controller => 'teachers', :action => 'export_agenda', :format => 'ics', :only_path => false, 
        'an' => @calendar_settings.show_announcements, 
        'as' => @calendar_settings.show_assignments,
        'ex' => @calendar_settings.show_exams,
        'ft' => @calendar_settings.show_field_trips, 
        'c'  => @calendar_settings.c) %>" />

  <h3><a id="advanced_options" href="#">Filtering Options</a></h3>
  <div class="hideme options">
    <h3>Display Options</h3>
    
    <label for="an"><%= f.check_box :show_announcements, :id => "an", :name => "an" %> Announcements</label>
    <label for="as"><%= f.check_box :show_assignments, :class => :e, :id => "as", :name => "as" %> Assignments</label>
    <label for="ex"><%= f.check_box :show_exams, :class => :e, :id => "ex", :name => "ex" %> Exams</label>
    <label for="ft"><%= f.check_box :show_field_trips, :class => :e, :id => "ft", :name => "ft" %> Field Trips</label>

    <h3>Classroom Options</h3>
    <%- current_teacher.active_classrooms.each do |cl| -%>
    <% checked = @calendar_settings.c[cl.id] %>
    <label for="<%= "c_#{cl.id}" %>">
    <%= hidden_field_tag "c[#{cl.id}]", "0", :id => nil %>
    <%= check_box_tag "c[#{cl.id}]", "1", checked == 1, :class => :cl %> <%=h cl.name %></label>
    <%- end -%>

    <%= f.submit "Update", :class => 'hideme' %>
  </div>
  
</div>
<% end %> 
