<div class="section agenda">
  <h2><%= happening_text(date) %><%= date.to_s(:long) %></h2>
  <% unless field_trips.empty? && exams.empty? && assignments.empty? -%>
  <ol class="status_heading">
    <%= render 'field_trips/fancy', :field_trips => field_trips %>
    <%= render 'exams/fancy',       :exams => exams %>
    <%= render 'assignments/fancy', :assignments => assignments %>
  </ol>
  <% end -%>
</div>

