<% if feed.length > 0 %>
<div class="section announcements">
  <h2>Announcements and Updates</h2>
  <ol id="announcements" class="statuses">
  <% feed.each do |feed_item| %>
    <li><%= render "partials/updated", :feed_item => feed_item %></li>
  <% end %>
  </ol>
</div>
<% end %>
