<p>
  <%= f.label :salutation, "How would you like your name displayed? (Mr. Smith, Ms. Johnson, Fred, etc.)" %>
  <%= f.text_field :salutation %>
</p>
<p>
  <%= f.label :bio, "A little bit about yourself (optional)" %>
  <%= f.text_area :bio %>
</p>

<%- if show_display_sections -%>
<h3>Display Sections</h3>
<p>If you'd like to hide a certain section from students and parents, uncheck the checkbox.</p>
<p>
  <label class="no_top_padding"><%= f.check_box :display_announcements %> Announcements</label>
  <label class="no_top_padding"><%= f.check_box :display_assignments %> Assignments</label>
  <label class="no_top_padding"><%= f.check_box :display_calendar %> Calendar</label>
  <label class="no_top_padding"><%= f.check_box :display_exams %> Exams</label>
  <label class="no_top_padding"><%= f.check_box :display_field_trips %> Field Trips</label>
</p>
<%- end -%>

<div>
  <%- if teacher.photo_file_name -%>
  <p>Your current picture<br />
  <%= image_tag(teacher.photo.url(:small)) %>
  </p>

  <%- end -%>
  <% t = teacher.photo_file_name ? " new" : "" %>
  <%= f.label :photo, "Upload a#{t} profile picture" %>
  <%= f.file_field :photo %>
</div>
