<% title "#{@teacher.salutation} #{@date}", false %>

<% content_for(:sidebar) do %>
  <div id="calendar" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
    <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
      <a class="ui-datepicker-prev ui-corner-all" title="Prev" href="<%= calendar_day_url(@teacher, @date - 1.month) %>"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a>
      <a class="ui-datepicker-next ui-corner-all" title="Next" href="<%= calendar_day_url(@teacher, @date + 1.month) %>"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
      <div class="ui-datepicker-title">
        <span class="ui-datepicker-month"><%= @date.strftime("%B") %></span>
        <span class="ui-datepicker-year"><%= @date.year %></span>
      </div>
    </div>
    <table class="ui-datepicker-calendar">
      <thead>
        <tr>
          <th class="ui-datepicker-week-end"><span title="Sunday">Su</span></th>
          <th><span title="Monday">Mo</span></th>
          <th><span title="Tuesday">Tu</span></th>
          <th><span title="Wednesday">We</span></th>
          <th><span title="Thursday">Th</span></th>
          <th><span title="Friday">Fr</span></th>
          <th class="ui-datepicker-week-end"><span title="Saturday">Sa</span></th>
        </tr>
      </thead>
      <tbody>
        <% ((@date.beginning_of_month.beginning_of_week - 1.day)..(@date.end_of_month.end_of_week - 1.day)).each do |day| -%>
        <% if day.wday == 0 -%>
        <tr>
        <% end -%>
        <%= calendar_cell(@teacher, day,  @date.month) %>
        <% if day.wday == 6 -%>
        </tr>  
        <% end -%>
        <% end -%>
      </tbody>
    </table>    
  </div>

  <%= render 'teachers/calendar_options' %>
<% end %>

<%= render 'teachers/day_announcements', :feed => @date_feed %>

<%= render 'teachers/day_section', :date => @date, :field_trips => @date_field_trips, :exams => @date_exams, :assignments => @date_assignments %>
