<% content_for(:head) do %>
  <%= auto_discovery_link_tag(:atom, teacher_feed_url, {:title => "#{current_teacher.salutation}'s feed"} ) %>
<% end %>

<% content_for(:sidebar) do %>
<%= render 'teachers/sidebar' %>
<% end %>

<%= render 'teachers/day_announcements', :feed => @todays_feed %>

<%= render 'teachers/day_section', :date => Date.today,    :field_trips => @todays_field_trips,    :exams => @todays_exams,    :assignments => @todays_assignments %>
<%= render 'teachers/day_section', :date => Date.tomorrow, :field_trips => @tomorrows_field_trips, :exams => @tomorrows_exams, :assignments => @tomorrows_assignments %>
