<div>
<h3 class="side"><%=h current_teacher.salutation %></h3>
<div>
<% if current_teacher.photo_file_name -%>
  <%= image_tag(current_teacher.photo.url(:small)) %>
<% end %>
<p><%= h current_teacher.bio -%></p>
</div>

<% if current_teacher.active_classrooms.length > 0 -%>
<ul id="classrooms">
  <% current_teacher.active_classrooms.each do |classroom| %>
  <li><%= link_to h(classroom.name), classroom_group_classroom_path(classroom.classroom_group, classroom) %></li>
  <% end %>
</ul>
<% end -%>

<%= link_to 'Contact', new_message_path, :id => "contact_teacher" %>

</div>
