<% title "Teacher Search" %>

<% form_for :home, :url => { :action => 'search' }, :html => { :method => :get } do |f| %>
<label id='q-label' for="q">Enter all or part of your teacher's last name</label>
<input type="text" id="q" name="q" value='<%=h params[:q] %>' />
<input type="submit" value="Search" />
<% end %>

<%- if params[:q] %>
  <%- if @teachers.empty? -%>
  <strong>No teachers found for <em>'<%=h params[:q] %>'</em></strong>
  <%- else -%>
    <%- @teachers.each do |t| -%>
      <div class="teacher-listing">
        <div class="teacher-listing-pic"><%= link_to image_tag(t.photo.url(:extra_small), :class => 'sm-profile-image'), teacher_url(t) %></div>
        <div class="teacher-listing-meta">
        <%= link_to t.salutation, teacher_url(t) %><br />
        Classes: <%= t.active_classrooms.to_sentence %>
        </div>
      </div>
    <%- end -%>
  <%- end -%>
<%- end -%>