<% title "Sign up - Teacher Settings" %>

<% form_for( @teacher, :url => signup_update_teacher_path, :html => { :multipart => true, :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :teacher => @teacher, :show_display_sections => false } %>
  <p>
    <%= f.submit "Next »" %>
  </p>  
<% end %>
