<p>
<% form_for(@asset, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <% unless @asset.new_record? -%>
  <h2>Existing attachment</h2>
  <p>
    <% if @asset.web_safe? %>
      <%= image_tag @asset.url %>
    <% else %>
      <%= link_to @asset.name, @asset.url %>
    <% end %>
  </p> 
  <% end -%>

  <p>
    <%= f.label :data, "Attach a file or image" %>
    <%= f.file_field :data %>
  </p>

  <p>
    <%= f.label :friendly_name %>
    <%= f.text_field :link_name %>
  </p>

  <h2>Associations</h2>

  <p>
  <h3>Announcements</h3>
  <% logged_in_teacher.all_announcements.each do |announcement| -%>
  <label><%= check_box_tag "announcement_ids[]", announcement.id, announcement.assets.include?(@asset) %> <%= announcement.title %></label>
  <% end -%>
  </p>
  
  <p>
  <h3>Assignments</h3>
  <% logged_in_teacher.all_active_assignments.each do |assignment| -%>
  <label><%= check_box_tag "assignment_ids[]", assignment.id, assignment.assets.include?(@asset) %> <%= assignment.title %></label>
  <% end -%>
  </p>

  <p>
  <h3>Exams</h3>
  <% logged_in_teacher.all_active_exams.each do |exam| -%>
  <label><%= check_box_tag "exam_ids[]", exam.id, exam.assets.include?(@asset) %> <%= exam.title %></label>
  <% end -%>
  </p>
  
  <p>
  <h3>Field Trips</h3>
  <% logged_in_teacher.all_active_field_trips.each do |field_trip| -%>
  <label><%= check_box_tag "field_trip_ids[]", field_trip.id, field_trip.assets.include?(@asset) %> <%= field_trip.title %></label>
  <% end -%>
  </p>

  <p>
    <%= f.submit 'Submit' %> or <%= link_to 'Cancel', assets_path %>
  </p>
<% end %>
</p>
