<% if assetable.assets.length > 0 %>
  <% unless assetable.web_assets.nil? || assetable.web_assets.empty? -%>
  <div class="existing_assets">
    <b><%= "Existing " if defined? admin && admin %>Pictures</b>
    <ul class="picture-list">
    <% assetable.web_assets.each do |asset| -%>
      <li><%= link_to image_tag(asset.url(:tiny)), asset.url %></li>
    <% end -%>
    </ul>
  </div>
  <% end -%>

  <% unless assetable.file_assets.nil? || assetable.file_assets.empty? -%>
  <div class="existing_assets">
    <b><%= "Existing " if defined? admin && admin %>Files</b>
    <ul class="file-list">
    <% assetable.file_assets.each do |asset| -%>
      <li><%= link_to asset.display, asset.url %></li>
    <% end -%>
    </ul>
  </div>
  <% end -%>
<% end %>
