<% title "Delete Attachment" %>

<% form_for @asset, :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Attachment?</h2>
  <p>
    <%= submit_tag "Delete" %> or <%= link_to "cancel", assets_path %>
  </p>
<% end %>
