<% title "Listing Attachments" %>

<table id="attachments_table" class="wide">
  <thead>
    <tr>
      <th>Friendly name</th>
      <th>File name</th>
      <th>Created date</th>
    </tr>
  </thead>
  <tbody>
  <% @assets.each do |asset| -%>
    <tr class="<%= cycle('odd', 'even')%>">
      <td><%=h asset.link_name %></td>
      <td><%=h asset.name %></td>
      <td><%=h asset.created_at %></td>
      <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
      <td><%= link_to "Delete", confirm_destroy_asset_path(asset) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<%= link_to 'New attachment', new_asset_path %> or <%= link_to "Back to Settings", settings_url %>
