<% title "Attachment limit reached" %>
<br />
<p>The free plan offers 10 file attachments. You've reached this limit - If you'd like to upload new attachments you can delete some existing attachments or <%= link_to 'upgrade your plan', plan_admin_teachers_path %>.</p>