<% form_for([:admin, field_trip], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages :header_message => field_trip.validation_header, :message => field_trip.validation_message %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :trip_date %>
    <%= render :partial => "partials/date_value", :locals => { :o => field_trip, :f => f, :date => field_trip.trip_date, :date_field => :trip_date } %>    
  </p>
  
  <h3>Which classrooms are going on this field trip?</h3>
  <% for classroom in logged_in_teacher.active_classrooms %>
  <label class="no_top_padding"><%= check_box_tag "field_trip[classroom_ids][]", classroom.id, field_trip.classrooms.include?(classroom) %> <%= classroom.name %></label>
  <% end %>  

  <h3>Attachments</h3>
  <%= render "assets/list", :assetable => field_trip, :admin => true %>

  <p>
    <%= f.label :data, "Attach a file or image", :class => "no_top_padding" %>
    <%= f.file_field :data %>
  </p>
  <p>
    <%= f.submit %> or <%= link_to 'Cancel', admin_field_trips_path %>
  </p>
<% end %>

