<tr id="row_<%= field_trip.id %>" class="<%= cycle('odd', 'even')%>">
  <td><%=h field_trip.title %></td>
  <td><%=h field_trip.trip_date %></td>
  <td><%= link_to 'Edit', edit_admin_field_trip_path(field_trip), :title => "Edit field trip"  %></td>
  <td><%= link_to "Delete", confirm_destroy_admin_field_trip_path(field_trip), :class => "delete", :title => "Delete field trip" %></td>    
</tr>
