<% title "Delete Field Trip" %>

<% form_for [:admin, @field_trip], :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Field Trip?</h2>
  <p>
    <%= submit_tag "Delete" %> or <%= link_to "cancel", admin_field_trips_path %>
  </p>
<% end %>
