<% title "Listing Field Trips" %>

<%- if @field_trips.empty? -%>
<br />
<p>Right now you don't have any Field Trips.</p>
<%- else -%>
<table id="field_trips_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Trip date</th>
      <th colspan="2">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @field_trips.each do |field_trip| %>
      <%= render :partial => "row", :locals => { :field_trip => field_trip } %>
    <% end %>
  </tbody>
</table>
<%- end -%>

<br />

<%= link_to 'New Field Trip', new_admin_field_trip_path, :title => "New field trip" %> or <%= link_to "Back to Settings", settings_url %>
