<p>
  <b>Title:</b>
  <%=h @field_trip.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @field_trip.details %>
</p>

<p>
  <b>Trip date:</b>
  <%=h @field_trip.trip_date %>
</p>


<%= link_to 'Edit', edit_admin_field_trip_path(@field_trip) %> |
<%= link_to 'Back', admin_field_trips_path %>