<% title "Classroom Groups" %>

<div id="classroom_groups">

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for classroom_group in @classroom_groups %>
  <tr>
    <td><%= h classroom_group.name %> <% if classroom_group.is_active? %>(currently active)<% end %></td>
    <td><%= link_to "Classrooms", classroom_group_classrooms_path(classroom_group) %></td>
  </tr>
<% end %>
</table>
</div>
