<%- if @field_trips.empty? -%>
<% title "#{current_teacher.salutation} doesn't have any Field Trips" %>
<%- else -%>
<% title "All of #{current_teacher.salutation}'s Field Trips", false %>
<h1><%= "All of #{current_teacher.salutation}'s Field Trips" %> <%= link_to "View Upcoming Field Trips", field_trips_path, :class => "results" %></h1>
<%= render :partial => "table" %>
<%- end -%>

<%= render 'new_link' %>