<% if field_trips.length > 0 -%>
<li>
  <ol id="field_trips" class="statuses">
  <% field_trips.each do |field_trip| -%>
    <li><a href="<%= url_for(field_trip) %>" class="feed_item"><%= sentence_icon("sx_icons_field_trip") %><span class="sentence_indent"><%= field_trip_sentence(field_trip) %></span></a></li>
  <% end -%>
  </ol>
</li>
<% end -%>
