<%- if @field_trips.empty? -%>
<% title "#{current_teacher.salutation} doesn't have any upcoming Field Trips", false %>
<h1><%= "#{current_teacher.salutation} doesn't have any upcoming Field Trips" %> 
<%- else -%>
<% title "#{current_teacher.salutation}'s Upcoming Field Trips", false %>
<h1><%= "#{current_teacher.salutation}'s Upcoming Field Trips" %>
<%- end -%>

<%= link_to "View All Field Trips", all_field_trips_path, :class => "results" %></h1>
<%= render :partial => "table" %>

<%= render 'new_link' %>