<p>
  <b>Title:</b>
  <%=h @field_trip.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @field_trip.details %>
</p>

<p>
  <b>Trip date:</b>
  <%=h @field_trip.trip_date %>
</p>

<p>
  <b>Classrooms:</b>
  <%=h @field_trip.classrooms.to_sentence %>
</p>

<%= render "assets/list", :assetable => @field_trip %>
