<%- if !@field_trips.empty? -%>
<%= render 'new_link' %>
<div id="table">
<table>
  <thead>
    <tr>
      <th class="hidden">classes</th>
      <th>Title</th>
      <th>Trip date</th>
      <th <%= "colspan='2'" if logged_in_teacher %>>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @field_trips.each do |field_trip| -%>
    <tr class="<%= cycle('odd', 'even')%>">
      <td class="hidden"><%=h field_trip.classrooms.to_json(:only => :id) %></td>            
      <td><%=h field_trip.title %></td>
      <td><%=h field_trip.trip_date %></td>
      <% if logged_in_teacher %>
      <td><%= link_to 'Edit', edit_field_trip_path(field_trip), :title => "Edit field trip" %></td>
      <td><%= link_to "Delete", confirm_destroy_field_trip_path(field_trip), :class => "delete", :title => "Delete field trip" %></td>    
      <% else %>
      <td><%= link_to 'Show', field_trip, :class => 'show' %></td>
      <% end%>      
    </tr>
  <% end -%>
  </tbody>
</table>
</div>
<%- end -%>