<% title "Delete Field Trip" %>

<% form_for @field_trip, :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Field Trip?</h2>
  <p>
    <%= submit_tag "Delete" %> or <%= link_to "cancel", field_trips_path %>
  </p>
<% end %>