<%- if @exams.empty? -%>
<% title "#{current_teacher.salutation} doesn't have any Exams" %>
<%- else -%>
<% title "All of #{current_teacher.salutation}'s Exams", false %>
<h1><%= "All of #{current_teacher.salutation}'s Exams" %> <%= link_to "View Upcoming Exams", exams_path, :class => "results" %></h1>
<%= render :partial => "table" %>
<%- end -%>

<%= render 'new_link' %>