<% if exams.length > 0 -%>
<li>
  <ol id="exams" class="statuses">
  <% exams.each do |exam| -%>
    <li><a href="<%= url_for(exam) %>" class="feed_item"><%= sentence_icon("sx_icons_exam") %><span class="sentence_indent"><%= exam_sentence(exam) %></span></a></li>
  <% end -%>
  </ol>
</li>
<% end -%>
