<%- if @exams.empty? -%>
<% title "#{current_teacher.salutation} doesn't have any upcoming Exams", false %>
<h1><%= "#{current_teacher.salutation} doesn't have any upcoming Exams" %> 
<%- else -%>
<% title "#{current_teacher.salutation}'s Upcoming Exams", false %>
<h1><%= "#{current_teacher.salutation}'s Upcoming Exams" %>
<%- end -%>

<%= link_to "View All Exams", all_exams_path, :class => "results" %></h1>

<%= render 'table' %>
<%= render 'new_link'%>

