<p>
  <b>Title:</b>
  <%=h @exam.title %>
</p>

<p>
  <b>Details:</b>
  <%=h @exam.details %>
</p>

<p>
  <b>Exam date:</b>
  <%=h @exam.exam_date %>
</p>

<p>
  <b>Classrooms:</b>
  <%=h @exam.classrooms.to_sentence %>
</p>

<%= render "assets/list", :assetable => @exam %>
