<%- if !@exams.empty? -%>
<%= render 'new_link' %>
<div id="table">
<table>
  <thead>
  <tr>
    <th class="hidden">classes</th>    
    <th>Title</th>
    <th>Exam date</th>
    <th <%= "colspan='2'" if logged_in_teacher %>>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @exams.each do |exam| -%>
    <tr class="<%= cycle('odd', 'even')%>">
      <td class="hidden"><%=h exam.classrooms.to_json(:only => :id) %></td>      
      <td><%=h exam.title %></td>
      <td><%=h exam.exam_date %></td>
      <% if logged_in_teacher %>
      <td><%= link_to 'Edit', edit_exam_path(exam), :title => "Edit exam" %></td>
      <td><%= link_to "Delete", confirm_destroy_exam_path(exam), :class => "delete", :title => "Delete exam" %></td>    
      <% else %>
      <td><%= link_to 'Show', exam, :class => 'show' %></td>
      <% end%>
    </tr>
  <% end -%>
  </tbody>
</table>
</div>
<%- end -%>