<%= error_messages_for :classroom_group, :header_message => @classroom_group.validation_header, :message => @classroom_group.validation_message %>

<% form_for [:admin, @classroom_group], :html => { :class => @classroom_group.new_record? ? "new_classroom_group" : "edit_classroom_group" } do |f| -%>
  <p>Terms are used for quarters, trimesters, semesters, or entire school years. As the classes you teach change, you will need to create new terms.</p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <label for="classroom_group_is_active"><%= f.check_box :is_active %> Is active?</label>
  </p>  
  <p>
    <%= f.submit %> or <%= link_to 'Cancel', admin_classroom_groups_path, :class => 'close' %>
  </p>
<% end -%>
