<tr id="row_<%= classroom_group.id %>" class="hasButtons">
  <td class="removeMe">
    <% form_for(classroom_group, :url => move_up_admin_classroom_group_path(classroom_group), :html => { :method => :put, :id => "edit_classroom_group_#{classroom_group.id}_move_up" } ) do |f| -%> 
    <p><%= f.submit "Move Up", :id => "classroom_group_submit_mu_#{classroom_group.id}" %></p>
    <% end -%>
  </td>
  <td class="removeMe">
    <% form_for(classroom_group, :url => move_down_admin_classroom_group_path(classroom_group), :html => { :method => :put, :id => "edit_classroom_group_#{classroom_group.id}_move_down" } ) do |f| -%> 
    <p><%= f.submit "Move Down", :id => "classroom_group_submit_md_#{classroom_group.id}" %></p>
    <% end -%>
  </td>
  <td <% if classroom_group.is_active? %>class="active"<% end %>><%= h classroom_group.name %> <% if classroom_group.is_active? %>(currently active)<% end %></td>
  <td><%= link_to "Manage Classrooms", admin_classroom_group_classrooms_path(classroom_group) %></td>
  <td><%= link_to "Delete", confirm_destroy_admin_classroom_group_path(classroom_group), :class => "delete" %></td>
  <td><%= link_to "Edit", edit_admin_classroom_group_path(classroom_group), :class => "edit" %></td>
</tr>
