<% title "Delete Term" %>

<% form_for [:admin, @classroom_group], :html => { :method => :delete } do |f| %>
  <h2>Are you sure you want to delete this Term?</h2>
  <p>
    <%= submit_tag "Delete" %>
    or <%= link_to "cancel", admin_classroom_groups_path %>
  </p>
<% end %>
