<% title "Listing Terms" %>

<div id="classroom_groups">

<table id="classroom_groups_table">
  <thead>
    <tr>
      <th></th>
      <th class="removeMe"></th>
      <th>Name</th>
      <th colspan="3">&nbsp;</th>
    </tr>
  </thead>
  <tbody class="sorty">
  <% for classroom_group in @classroom_groups %>
    <%= render :partial => "row", :locals => { :classroom_group => classroom_group } %>
  <% end %>
  </tbody>
</table>
</div>

<%= link_to 'New Term', new_admin_classroom_group_path, :class => 'new' %> or <%= link_to "Back to Settings", settings_url %>
