<% title "Sign up - Classroom Settings" %>

<%= error_messages_for :classroom_group, :header_message => @classroom_group.validation_header, :message => @classroom_group.validation_message %>

<% form_for([:admin, @classroom_group], :url => signup_create_new_admin_classroom_group_path) do |f| -%>
  <p>
    <%= f.label :name, "Term" %>
    <%= f.text_field :name %><br />
    <span>Terms are used for quarters, trimesters, semesters, or entire school years. As the classes you teach change, you will need to create new terms.</span>
  </p>
  
  <h3>Add some classrooms</h3>
  <% i = 0 %>
  <% f.fields_for :classrooms do |classroom_form| -%>
    <p>
      <%= classroom_form.label :name, "Classroom #{i += 1}" %>
      <%= classroom_form.text_field :name %>
    </p>
  <% end -%>

  <p>You will be able to add, edit or remove classrooms after registration</p>
  
  <p>
    <%= f.submit "Finish Registration" %>
  </p>
<% end -%>
