<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => 'partials/head' %>
<!--[if IE 6]><body class="ie6"><![endif]-->
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if !IE]><body><![endif]-->
    <div id="page-wrap">
      <div id="header"><h1><a href="http://classroomagenda.com/">ClassroomAgenda.com</a></h1></div>
      <%= render :partial => 'partials/greeting' %>
      <ul id="menu">
        <li class="first nav-home"><%= link_to 'Home', teacher_root_path %></li>
        <li class="nav-calendar"><%= link_to 'Calendar', calendar_url %></li>
        <li class="nav-announcements"><%= link_to 'Announcements', announcements_path %></li>
        <li class="nav-assignments"><%= link_to 'Assignments', assignments_path %></li>
        <li class="nav-exams"><%= link_to 'Exams', exams_path %></li>
        <li class="nav-fieldtrips"><%= link_to 'Field Trips', field_trips_path %></li>
      </ul>
      <div id="wrapper">
        <div id="main">
          <%= flash_messages %>
           
          <%- if show_title? -%>
            <h1><%=h yield(:title) %></h1>
          <%- end -%>
          <%= yield %>     
        </div>
      </div>

      <div id="sidebar">
        <%= yield :sidebar %>
        <%= render :partial => 'partials/sidebar_ad', :locals => { :teacher => logged_in_teacher } %>
      </div>
    </div>
    
    <div id="footer">
      <%= render :partial => 'partials/footer' %>
    </div>   
  
    <%= render :partial => 'partials/analytics' %> 
  </body>
</html>
