<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => 'partials/head' %>
<!--[if IE 6]><body class="ie6"><![endif]-->
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if !IE]><body><![endif]-->
    <div id="page-wrap">
      <div id="header"><h1><a href="http://classroomagenda.com/">ClassroomAgenda.com</a></h1></div>
      <%= render :partial => 'partials/greeting' %>
      <ul id="menu">
        <li class="first nav-home"><%= menu_link_to 'teachers', 'show', 'Home', teacher_root_path %></li>
        <% if current_teacher.display_calendar -%><li class="nav-calendar"><%= menu_link_to 'teachers', 'show_date', 'Calendar', calendar_url  %></li><% end -%>
        <% if current_teacher.display_announcements -%><li class="nav-announcements"><%= menu_link_to 'announcements', nil, 'Announcements', announcements_path %></li><% end -%>
        <% if current_teacher.display_assignments -%><li class="nav-assignments"><%= menu_link_to 'assignments', nil, 'Assignments', assignments_path %></li><% end -%>
        <% if current_teacher.display_exams -%><li class="nav-exams"><%= menu_link_to 'exams', nil, 'Exams', exams_path %></li><% end -%>
        <% if current_teacher.display_field_trips -%><li class="nav-fieldtrips"><%= menu_link_to 'field_trips', nil, 'Field Trips', field_trips_path %></li><% end -%>
      </ul>
      <div id="wrapper">
        <div id="main">
          <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>              
          <%- if show_title? -%>
            <h1><%=h yield(:title) %></h1>
          <%- end -%>
          <%= yield %>     
        </div>
      </div>

      <div id="sidebar">
        <%= yield :sidebar %>
        <%= render :partial => 'partials/sidebar_ad' %>
      </div>

    </div>

    <div id="footer">
      <%= render :partial => 'partials/footer' %>      
    </div>
  
    <%= render :partial => 'partials/analytics' %> 
  </body>
</html>
