<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => 'partials/head' %>
<!--[if IE 6]><body class="ie6"><![endif]-->
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if !IE]><body><![endif]-->
    <div id="page-wrap">
      <div id="single-header"><h1><a href="http://classroomagenda.com/">ClassroomAgenda.com</a></h1></div>
        <%= render 'partials/login_menu' %> 

        <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>              

        <%= yield %>          
      <br class="clear" />
    </div>

    <div id="footer">
      <%= render :partial => 'partials/footer' %>      
    </div>
  
    <%= render :partial => 'partials/analytics' %> 
  </body>
</html>
